/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* styles to match figma */
@font-face {
  font-family: 'Gill Sans';
  src: url('GillSans/Monotype-GillSansNovaBook.woff2') format('woff2'),
       url('GillSans/Monotype-GillSansNovaBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans bold';
  src: url('GillSans/Monotype  - Gill Sans Nova Bold.woff2') format('woff2'),
       url('GillSans/Monotype  - Gill Sans Nova Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.nav-bg-color {
  border-style: solid;
  background-color: #B46E28;
}
.txt-color {
  color: #031E59;
}
body {
  font-family: "Gill Sans";
  background-color: #CDA0C3;
}

.gill-sans-bold {
  font-family: "Gill Sans bold";
}